<h1><%= listing.title %></h1>
<p>belongs to <%= listing.category.title %></p>
<P>Location: <%= listing.location %></p>
<P>Price: $ <%= listing.price %></p>
<P><%= listing.content %></p>
<P>Contact: <%= listing.owner_email %></p>

